@use "../variable";
@use "../color";
@use "./main";
@use "./header";
@use "./footer";
@use "./body";

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(background-color);
}
