@use "../common";

header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 50;

  div.container > div {
    gap: 2rem;
  }

  h3 {
    @include common.fontStyle(1.25rem, 700, 11.75rem);
    margin: 0px;
    color: var(--primary-color);
  }
}

nav {
  display: var(--nav-display);
  gap: 1.5rem;
}
