header {
  border-bottom: 1px solid #e5e7eb;

  h3 {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: var(--primary-color);
  }

  nav {
    display: flex;
    gap: 1.5rem;
  }

  div {
    display: flex;
    align-items: center;

    &.left {
      gap: 2rem;
    }
    &.right {
      right: 0.5rem;
    }

    &.search {
      display: flex;
      gap: 0;

      input {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 200px;
        padding: 1rem 0.5rem 1rem 1rem;
        border: none;
        background-color: var(--gray-color-100);

        &:focus {
          outline: none;
        }
      }

      button {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 0.5rem;
        border: none;
        background-color: var(--gray-color-100);
        cursor: pointer;
      }
    }

    button {
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: var(--text-color);
    }
  }
}
